@import '../../sass/index.scss';

.login {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;

    padding: 2rem;


    .lock {
        width: 5rem;
        height: 5rem;
        background: rgb(174, 174, 174);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .link {
        color: $color-primary
    }
}