@import '../../sass/index.scss';


.tags {
    padding: 20px;
    position: sticky;
    top: 2rem;

    .title {
        margin-bottom: 20px;
    }

    .list {
        &__item {
            transition: all .2s;
            cursor: pointer;
            padding: 10px;

            &:hover {
                background: #e9e9e9a8;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9e3;
            }
        }
    }
}